
#pane{
    -fx-background-image: url("background.jpg") ;
   -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
     -fx-background-position: center;
      -fx-background-size: 100% 100%;
      -fx-background-attachment: fixed;
        
}

Text
{
   -fx-font-style: italic;
    -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
     -fx-font-weight: bold;
/*   -fx-fill: #FFCC33;
   -fx-fill: #FF007C;*/
  -fx-fill: cyan;
  -fx-font-weight: bolder;
}

.button {
    -fx-alignment:CENTER;
     -fx-background-color: transparent;
  -fx-font-size:2em;
 -fx-font-family: "jokerman";
 -fx-text-alignment: center;
 -fx-border-width: 4px; 
 -fx-border-color: cyan;
 -fx-text-fill:cyan;
 -fx-border-radius: 50%;
  -fx-font-weight: bolder;

}

.button:hover {
 -fx-border-color: derive(cyan, -20%);
 -fx-text-fill:derive(cyan, -20%);
}